bin/Debug/net5.0/appsettings.Development.json
bin/Debug/net5.0/appsettings.json
bin/Debug/net5.0/JobsAPI.deps.json
bin/Debug/net5.0/JobsAPI.dll
bin/Debug/net5.0/JobsAPI.exe
bin/Debug/net5.0/JobsAPI.pdb
bin/Debug/net5.0/JobsAPI.runtimeconfig.dev.json
bin/Debug/net5.0/JobsAPI.runtimeconfig.json
bin/Debug/net5.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
bin/Debug/net5.0/Microsoft.AspNetCore.Authentication.OpenIdConnect.dll
bin/Debug/net5.0/Microsoft.IdentityModel.JsonWebTokens.dll
bin/Debug/net5.0/Microsoft.IdentityModel.Logging.dll
bin/Debug/net5.0/Microsoft.IdentityModel.Protocols.dll
bin/Debug/net5.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
bin/Debug/net5.0/Microsoft.IdentityModel.Tokens.dll
bin/Debug/net5.0/Microsoft.OpenApi.dll
bin/Debug/net5.0/Swashbuckle.AspNetCore.Swagger.dll
bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerGen.dll
bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerUI.dll
bin/Debug/net5.0/System.IdentityModel.Tokens.Jwt.dll
bin/Debug/net5.0/ref/JobsAPI.dll
obj/JobsAPI.csproj.nuget.dgspec.json
obj/JobsAPI.csproj.nuget.g.props
obj/JobsAPI.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
obj/Debug/net5.0/apphost.exe
obj/Debug/net5.0/JobsAPI.AssemblyInfo.cs
obj/Debug/net5.0/JobsAPI.AssemblyInfoInputs.cache
obj/Debug/net5.0/JobsAPI.assets.cache
obj/Debug/net5.0/JobsAPI.csproj.CopyComplete
obj/Debug/net5.0/JobsAPI.csproj.CoreCompileInputs.cache
obj/Debug/net5.0/JobsAPI.csproj.FileListAbsolute.txt
obj/Debug/net5.0/JobsAPI.csprojAssemblyReference.cache
obj/Debug/net5.0/JobsAPI.dll
obj/Debug/net5.0/JobsAPI.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net5.0/JobsAPI.genruntimeconfig.cache
obj/Debug/net5.0/JobsAPI.MvcApplicationPartsAssemblyInfo.cache
obj/Debug/net5.0/JobsAPI.MvcApplicationPartsAssemblyInfo.cs
obj/Debug/net5.0/JobsAPI.pdb
obj/Debug/net5.0/JobsAPI.RazorTargetAssemblyInfo.cache
obj/Debug/net5.0/ref/JobsAPI.dll
obj/Debug/net5.0/staticwebassets/JobsAPI.StaticWebAssets.Manifest.cache
obj/Debug/net5.0/staticwebassets/JobsAPI.StaticWebAssets.xml
